.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
    width: 100%;
}

.services-container h1, .services-container h2 {
    color: #354F52;
    margin-bottom: 10px;
    text-align: center;
}

.services-container p {
    margin-bottom: 20px;
    text-align: justify;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #354F52;
    color: #DCE6D7;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}
